/*
1-Posicionamiento
2-Boxmodel
3-Tipografia
4-Efetos visuales
5-Otros
*/

:root{
/*Colores */
    --rojo: rgb(218, 11, 11);
    --white: white;
    --black: rgba(0, 0, 0, 0.824);
    --softBlue: #1717e8ef;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* header styles*/
.header {
    display: flex;
    flex-direction: column;
    background-image: url('./img/header-only-min.png');
    background-size: cover;
    background-position: center;
    padding: 60px 0;
    text-align: center;
    color: white;
    height: 300px;
}
.logo-title {
    display: inline-block;
    text-align: center;
}
.logo-title img {
    max-height: 80px;
    margin-bottom: 20px;
}
.logo-title h1 {
    font-size: 2.6rem;
    margin: 0;
    font-weight: bold;
}

.logo-title p {
    font-size: 0.7rem;
    margin: 0;
    
}

/* Nav Styles
---------------------------------*/

.menu{
    display: none;
}

nav {
    display: block;
  }

.navbar{
    list-style: none;
    padding: 0%;
    margin-top: 24px;
}